{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<img class="pe-2" src="{{ asset('build/images/tv-show.png') }}" height="50">
			<a class="navbar-brand" href="/">Wild Series</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" href="/category/">Catégories</a>
					<a class="nav-link" href="/program/">Séries</a>
					<a class="nav-link" href="/season/">Saisons</a>
					<a class="nav-link" href="/episode/">Episodes</a>
					<a class="nav-link" href="/comment/">Commentaires</a>

					<a class="nav-link" href="#">Mes favoris</a>
					{% if app.user %}
						<span class="nav-link">
							{{ app.user.email }}
						</span>
						<a class="nav-link" href="{{ path('app_logout') }}">
							Se déconnecter</a>
					{% else %}
						<a class="nav-link" href="{{ path('app_login') }}">
							Se connecter</a>
					{% endif %}
				</li>

			</div>
		</div>
	</div>
</nav>{% endblock %}
